
<!DOCTYPE html>
<html lang="en">
{% extends "baseNavFooter.html" %}

{% block content %}
{% load staticfiles %}
{% load bootstrap3 %}
<style>
	footer{
		width:100%;
		height:180px;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background-color:white;
	}
	form{
		background: whitesmoke;
		top:30%;
		margin-left:auto;
		margin-right:auto;
		height:500px; 
		width:500px;
		border: 5px solid black; 
		padding:30px; border-radius:50%
	}
	#yes{
		padding:5px;
		font-family:Museo; 
		margin-left:auto; 
		margin-right:auto; 
		width:200px; 
		border:3px solid black;
		color:white;
		background-color:black;
	}
	#yes:hover{
		background-color:white;
		color:black;
	}
	select#base{
		margin-top:10px;
		font-size:16px;
		color:black;
		background-color:white;
		font-family:Museo;
		border:2px solid black;
	}
	select#penetrate{
		margin-top:10px;
		font-size:16px;
		color:black;
		background-color:white;
		font-family:Museo;
		border:2px solid black;
	}
	#buttons{
		
	}
</style>
<script>

	<script language="javascript" type="text/javascript">
	var tot=3;       
	function expandDiv(divID)
	{
		var el = document.getElementById(divID);
		el.style.display="block";
		el.setAttribute("style:display","block");
		
		if(el.childNodes.length<=1)
		{
			var nav = document.createElement("div");
			nav.setAttribute("id","navigation");
			
			var up = document.createElement("a");
			up.setAttribute("id","top");
			up.setAttribute("href","#");
			up.innerHTML = "top";
			
			var back = document.createElement("input");
			back.setAttribute("type","button");
			back.setAttribute("id","back");
			back.setAttribute("onclick","moveBack('"+divID+"')");
			back.setAttribute("value","<-Previous Question");
			
			var next = document.createElement("input");
			next.setAttribute("type","button");
			next.setAttribute("id","next");
			next.setAttribute("onclick","moveNext('"+divID+"')");
			next.setAttribute("value","Next Question ->");
			
			nav.appendChild(up);
			nav.appendChild(back);
			nav.appendChild(next);
			
			el.appendChild(nav);
		}
	}
	
	function moveBack(id)
	{
		var str = id;
		var divno = parseInt(str.split("_")[1]);
		if(divno-1<=0)
		{
			divno=3;
		}
		else 
		{
		divno--;
		}
		
		for(var j=1;j<=3;j++)
		{
			var div="d_"+(j);
			document.getElementById(div).style.display="none";
		}
		expandDiv("d_"+divno);
	}
	
	function moveNext(id)
	{
		var str = id;
		var divno = parseInt(str.split("_")[1]);
		
		if(parseInt(divno+1) > tot+1)
		{
			divno=1;
		}
		else 
		{    
			divno++;
		}
		
		for(var j=1;j<=3;j++)
		{
			var div="d_"+(j);
			document.getElementById(div).style.display="none";
		}
		expandDiv("d_"+divno);
	}
</script>


<title>Customizing your cream </title>
<nav class="navbar transparent navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid col-md-8" style="float:center;border-left:0px; border-right:0px; margin-left:auto; margin-right: auto;">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Wayne Pharmaceutics</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li class="dropdown" href="plan.html"><a class="dropdown-toggle" data-toggle="dropdown" href="plan.html">Ingredients<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/plan#GroupA">Cream Base</a></li>
					<li><a href="/plan#GroupB">Main Components</a></li>
					<li><a href="/plan#GroupC">Finishing Touches</a></li>
				</ul>
			</li>
			<li class="active"><a href="/build/">Build</a></li>
			<li><a href="/about/">About Us</a></li>
			<li><a href="/contact/">Contact</a></li>
			{% if user.is_authenticated %} 
			<li id="menu-gap"><a href="/users/"><span class="glyphicon glyphicon-user"></span>{{user.username}}</a></li>
			<li id="menu-gap"><a href="/logout/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
			{% else %} 
			<li id="menu-gap"><a href="/login/"><span class="glyphicon glyphicon-home"></span> Login</a></li>
			{% endif %} 
			<li><a href="{% url 'creamUsers:cartdetail' %}"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
		  </ul>
		</div>
	</div>
</nav>



<div id="buildquestion"><br/><br/>
	<h2 class="question">{{"Tell us how you want your cream!"}}</h2><br/>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% if messages %}
	<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	<form action = "{% url 'creamUsers:saveEditResult' %}" method = "post">
		{% csrf_token %}
	<div id="outer" style="height:190px"><br/>
		<h4><strong style="border-bottom:1px solid black">Your Cream Base:</strong></h4>
		<select id="base" name="base" onchange="updateText('base')">
		{% for ingre in ingredients %}
			{%if ingre.inType == "CreamBase"%}
			{%if ingre.ingreName == ingredient1.ingreName%} 
				<option name = "base" value="{{ingre.id}}" selected="selected">{{ingre.ingreName}}</option>
			{%else%}
				<option name = "base" value="{{ingre.id}}">{{ingre.ingreName}}</option>
			{%endif%}
			{%endif%}
			{% endfor %}
		</select>
		<strong>
		<div id="layout_select1" class="1">
			<br/><p>A thicker cream base may work best for those with very dry skin.</p>			
		</div>
		<div id="layout_select2" class="2" style="display:none">
			<br/><p>A regular density cream base may work best for users with normal skin.</p>
		</div>
		<div id="layout_select3" class="3" style="display:none">
			<br/><p>A thinner style cream may best suit a user with oily or sensitive skin.</p>
		</div>
		</strong>
	</div>
			
	<div id="outer" style="height:130px">
		<h4><strong style="border-bottom:1px solid black">Your Penetrate Agent:</strong></h4>
		<select id="penetrate" name="penetrate" onchange="updateText('penetrate')">
		{% for ingre in ingredients %}
			{%if ingre.inType == "PenetrateAgent"%}
				{%if ingre.ingreName == ingredient2.ingreName%} 
					<option name = "penetrate" value="{{ingre.id}}" selected="selected">{{ingre.ingreName}}</option>
					<br/><p>{{ingre.description}}</p>
				{%else%}
					<option name = "penetrate" value="{{ingre.id}}">{{ingre.ingreName}}</option>
				{%endif%}
			{%endif%}
		{% endfor %}
		</select>
		<strong>
		<div id="second_select1" class="4">
			<br/><p>Glycerin may work better for those with dry or sensitive skin</p>		
		</div>
		<div id="second_select2" class="5" style="display:none">
			<br/><p>Propylene Glycol may work better for those with oily or normal skin</p>
		</div>
		</strong>
	</div>
	<div id="buttons" style="height:130px"><br/>
		<input type="submit" style="color:white;border:1px solid white;background:black;" value="Done Customizing"/>
	</div>
	</form>
</div>
<script type="text/javascript">
	function updateText(type) { 
		var id = type+'Text';
		document.getElementById(id).value =document.getElementById(type).value ;
	}
</script>
<script type="text/javascript">
	$("#base").change(function() {         
	$('div[id^=layout_select]').hide('slow');
	$('.'+this.value).show('slow');  
	});
</script>
<script type="text/javascript">
	$("#penetrate").change(function() {         
	$('div[id^=second_select]').hide('slow');
	$('.'+this.value).show('slow');  
	});
</script>
{% endblock %}