<!DOCTYPE html>
<html lang="en">
{% extends "baseNavFooter.xml" %}

{% block content %}
{% load staticfiles %}
{% load bootstrap3 %}
<style> 
	body {
		padding-top: 30px;
	}
</style>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
	<nav class="navbar transparent navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Wayne Pharmaceutics</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li class="active dropdown" href="/plan/"><a class="dropdown-toggle" data-toggle="dropdown" href="plan.html">Ingredients<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/plan#GroupA">Cream Base</a></li>
					<li><a href="/plan#GroupB">Main Components</a></li>
					<li><a href="/plan#GroupC">Finishing Touches</a></li>
				</ul>
			</li>
			<li><a href="/build/">Build</a></li>
			<li><a href="/about/">About Us</a></li>
			<li><a href="/contact/">Contact</a></li>
			{% if user.is_authenticated %} 
			<li id="menu-gap"><a href="/users/"><span class="glyphicon glyphicon-user"></span>{{user.username}}</a></li>
			<li id="menu-gap"><a href="/logout/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
			{% else %} 
			<li id="menu-gap"><a href="/login/"><span class="glyphicon glyphicon-home"></span> Login</a></li>
			{% endif %} 
			<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	<div class="row">

		<!--Main Content -->
		<div class="maincontent col-md-11">
			<section id="GroupA" class="">
				<div id="GroupASub1" class="">
					<div style="background-image: url({% static "creamUsers/images/00743.png" %});" id="Group" class="">
					<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:cover;"/>
						<div id="grouptext">
							<h3>Cream Base</h3>
							<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>
						</div>
					</div>
				</div>
				<div id="GroupASub2" class="subgroup">
					<div style="background-image: url({% static "creamUsers/images/oil.jpg" %});" id="Group" class="">
					<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:500px;"/>
						<div id="grouptext" style="margin-left:10%;">
							<h4>Oil Phase</h4>
							<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>				
						</div>
					</div>
				</div>
				<div id="GroupASub3" class="subgroup">
					<div style="background-image: url({% static "creamUsers/images/water.jpg" %});" id="Group" class="">
					<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:500px;"/>
						<div id="grouptext">
							<h4>Water Phase</h4>
							<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>
						</div>
					</div>
				</div>
			</section>
			<section id="GroupB" class="">
				<div id="GroupBSub1" class="">
					<div style="background-image: url({% static "creamUsers/images/creaminjar.jpg" %});" id="Group" class="">
					<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:cover;"/>
						<div id="grouptext" style="margin-left:65%;">
							<h3>Main Components</h3>
							<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>
						</div>
					</div>
				</div>
				<div id="GroupBSub2" class="subgroup">
					<div style="background-image: url({% static "creamUsers/images/caffeine.jpg" %});" id="Group" class="">
					<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:500px;"/>
						<div id="grouptext" style="margin-left:5%;">
							<h4>Caffeine</h4>
							<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>
						</div>
					</div>
				</div>
				<div id="GroupBSub3" class="subgroup">
					<div style="background-image: url({% static "creamUsers/images/lily.jpg" %});" id="Group" class="">
					<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:500px;"/>
						<div id="grouptext">
							<h4>Group B Sub 2</h4>
							<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>
						</div>
					</div>
				</div>
				<div id="GroupBSub4" class="subgroup">
					<div style="background-image: url({% static "creamUsers/images/vitc.jpg" %});" id="Group" class="">
					<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:500px;"/>
						<div id="grouptext" style="margin-left:60%;">
							<h4>Group B Sub 2</h4>
							<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>
						</div>
					</div>
				</div>
				<div id="GroupBSub5" class="subgroup">
					<div style="background-image: url({% static "creamUsers/images/nature.jpg" %});" id="Group" class="">
					<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:500px;"/>
						<div id="grouptext">
							<h4>Group B Sub 2</h4>
							<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>
						</div>
					</div>
				</div>
			</section>
			<section id="GroupC" class="">
				<div style="background-image: url({% static "creamUsers/images/beaker.jpg" %});" id="Group" class="">
				<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:cover;"/>
				<div id="grouptext" style="margin-left:450px;">
				<h3>Finishing Touches</h3>
				<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>
				</div>
				<div id="GroupCSub1" class="subgroup">
					<div style="background-image: url({% static "creamUsers/images/preservative1.jpg" %});" id="Group" class="">
					<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:500px;"/>
						<div id="grouptext">
							<h4>Group B Sub 2</h4>
							<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>
						</div>
					</div>
				</div>
				<div id="GroupCSub2" class="subgroup">
					<div style="background-image: url({% static "creamUsers/images/lavender.jpg" %});" id="Group" class="">
					<img src="{% static "creamUsers/images/background1.png" %}" style="visibility:hidden; height:500px;"/>
						<div id="grouptext">
							<h4>Group B Sub 2</h4>
							<h5>Every skin product consists of an oil phase and water phase. This is true whether you are talking about a cream, ointment, or lotion. Getting the ingredients right in the base are essential to the overall effectiveness of the skin product.</h5></br>
						</div>
					</div>
				</div>
			</section>    
		</div>
		<!--Nav Bar -->
		<div class="sidescroll">
		<nav class="bs-docs-sidebar col-md-1">
			<ul id="sidebar" class="nav nav-stacked fixed">
				<li>
					<a href="#GroupA">Cream Base</a>
					<ul class="nav nav-stacked">
						<li><a href="#GroupASub1">Oil Phase</a></li>
						<li><a href="#GroupASub2">Water Phase</a></li>
					</ul>
				</li>
				<li>
					<a href="#GroupB">Main Components</a>
					<ul class="nav nav-stacked">
						<li><a href="#GroupBSub1">Sub-Group 1</a></li>
						<li><a href="#GroupBSub2">Sub-Group 2</a></li>
						<li><a href="#GroupBSub3">Sub-Group 3</a></li>
						<li><a href="#GroupBSub4">Sub-Group 4</a></li>
						<li><a href="#GroupBSub5">Sub-Group 5</a></li>
					</ul>
				</li>
				<li>
					<a href="#GroupC">Finishing Touches</a>
					<ul class="nav nav-stacked">
						<li><a href="#GroupCSub1">Preservatives</a></li>
						<li><a href="#GroupCSub2">Scents and aromatherapy</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		</div>
	</div>
{% endblock %}