
<!DOCTYPE html>
<html lang="en">
{% extends "baseNavFooter.html" %}

{% block content %}
{% load staticfiles %}
{% load bootstrap3 %}
<script>
	function answer1() {
		if(typeof(Storage) !== "undefined") {
			if (sessionStorage.answer1) {
				sessionStorage.clickcount = Number(sessionStorage.clickcount)+1;
			} else {
				sessionStorage.clickcount = 1;
			}
			document.getElementById("result").innerHTML = "You have clicked the button " + sessionStorage.clickcount + " time(s) in this session.";
		} else {
			document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
		}
	}
	</script>

	<script language="javascript" type="text/javascript">
	var tot=3;       
	function expandDiv(divID)
	{
		var el = document.getElementById(divID);
		el.style.display="block";
		el.setAttribute("style:display","block");
		
		if(el.childNodes.length<=1)
		{
			var nav = document.createElement("div");
			nav.setAttribute("id","navigation");
			
			var up = document.createElement("a");
			up.setAttribute("id","top");
			up.setAttribute("href","#");
			up.innerHTML = "top";
			
			var back = document.createElement("input");
			back.setAttribute("type","button");
			back.setAttribute("id","back");
			back.setAttribute("onclick","moveBack('"+divID+"')");
			back.setAttribute("value","<-Previous Question");
			
			var next = document.createElement("input");
			next.setAttribute("type","button");
			next.setAttribute("id","next");
			next.setAttribute("onclick","moveNext('"+divID+"')");
			next.setAttribute("value","Next Question ->");
			
			nav.appendChild(up);
			nav.appendChild(back);
			nav.appendChild(next);
			
			el.appendChild(nav);
		}
	}
	
	function moveBack(id)
	{
		var str = id;
		var divno = parseInt(str.split("_")[1]);
		if(divno-1<=0)
		{
			divno=3;
		}
		else 
		{
		divno--;
		}
		
		for(var j=1;j<=3;j++)
		{
			var div="d_"+(j);
			document.getElementById(div).style.display="none";
		}
		expandDiv("d_"+divno);
	}
	
	function moveNext(id)
	{
		var str = id;
		var divno = parseInt(str.split("_")[1]);
		
		if(parseInt(divno+1) > tot+1)
		{
			divno=1;
		}
		else 
		{    
			divno++;
		}
		
		for(var j=1;j<=3;j++)
		{
			var div="d_"+(j);
			document.getElementById(div).style.display="none";
		}
		expandDiv("d_"+divno);
	}
</script>
<style>
	footer{
		width:100%;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background-color:white;
	}
</style>

<title>Questionairre Results</title>
<nav class="navbar transparent navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Wayne Pharmaceutics</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li class="dropdown" href="plan.html"><a class="dropdown-toggle" data-toggle="dropdown" href="plan.html">Ingredients<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/plan#GroupA">Cream Base</a></li>
					<li><a href="/plan#GroupB">Main Components</a></li>
					<li><a href="/plan#GroupC">Finishing Touches</a></li>
				</ul>
			</li>
			<li class="active"><a href="/build/">Build</a></li>
			<li><a href="/about/">About Us</a></li>
			<li><a href="/contact/">Contact</a></li>
			{% if user.is_authenticated %} 
			<li id="menu-gap"><a href="/users/"><span class="glyphicon glyphicon-user"></span>{{user.username}}</a></li>
			<li id="menu-gap"><a href="/logout/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
			{% else %} 
			<li id="menu-gap"><a href="/login/"><span class="glyphicon glyphicon-home"></span> Login</a></li>
			{% endif %} 
			<li><a href="{% url 'creamUsers:cartdetail' %}"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
		  </ul>
		</div>
	</div>
</nav>
	<div id="q_5" style="">
	<div id="buildtitle">
	<h2><center/><strong/><br/></h2>
	<br/><br/><br/>
	</div>

	<div id="buildquestion">
		<h2 class="question">Questionnaire Complete! Here are your results...</h2><br/><br/>
		{% if answer %}
			<p>Your responses are the followings: {{answer.question1}}, {{answer.question2}}, {{answer.question3}}, {{answer.question4}}</p>
		{% endif %}
		<p>Based on your responses, we recommend the following combinations:</p>
		<form action="">
			<p>Cream Base Thickness:</p>
			<p>{{ingredient1.ingreName}}: {{ingredient1.description}}</p>
			<br/><br/>
		</form>
		<form action="">
			<p>Penetration agent:</p>
			<p>{{ingredient2.ingreName}}: {{ingredient2.description}}</p>
			<br/><br/>
		</form>
		<div id="buttons">
		<a href = "{% url 'creamUsers:addproduct' product.id%}"> <h3><blue>Yes, my skin wants this!</blue></h3> </a>
		</div>
		<div id="buttons">
			<a href = "{% url 'creamUsers:editProd' product.id %}"> <h3><blue>I want to customize further.</blue></h3> </a>
		</div>
	</div>
</div>


{% endblock %}