body{
	padding-top:50px;
}
section#GroupA{
	width:50%;
	padding-top: 150px;
	padding-bottom:30px;
}
section#GroupB{
	width:50%;
	padding-bottom:30px;
	padding-top: 150px;
}
section#GroupC{
	width:50%;
	padding-bottom:30px;
	padding-top: 150px;
}