<!DOCTYPE html>
<html lang="en">
{% extends "baseNavFooter.html" %}

{% block content %}
{% load staticfiles %}
{% load bootstrap3 %}
<style> 
	body {
		padding-top:50px;
		min-height:100%;
		height: auto !important;
		height:100%;
		margin: 0 auto -4em;
	}
	footer{
		width:100%;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background-color:white;
	}
	a#continue:hover, p.continue:focus{
		background:black;
		color:white;
	}
</style>
	<nav class="navbar transparent navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid col-md-8" style="float:inherit;">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" style="" href="/"></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li class="dropdown" href="/plan/"><a class="dropdown-toggle" data-toggle="dropdown" href="plan.html">Ingredients<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/plan#GroupA">Cream Base</a></li>
					<li><a href="/plan#GroupB">Main Components</a></li>
					<li><a href="/plan#GroupC">Finishing Touches</a></li>
				</ul>
			</li>
			<li><a href="/build/">Build</a></li>
			<li><a href="/about/">About Us</a></li>
			<li><a href="/contact/">Contact</a></li>
			{% if user.is_authenticated %} 
			<li id="menu-gap"><a href="/users/"><span class="glyphicon glyphicon-user"></span>{{user.username}}</a></li>
			<li id="menu-gap"><a href="/logout/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
			{% else %} 
			<li id="menu-gap"><a href="/login/"><span class="glyphicon glyphicon-home"></span> Login</a></li>
			{% endif %} 
			<li class="active"><a href="{% url 'creamUsers:cartdetail' %}"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
		  </ul>
		</div>
	  </div>
	</nav>

<!--Main Content for Cart Summary -->
<span id="aboutsection">
<div class="aboutmain">

{% if error_message %}<p style="text-align:center"><strong>{{ error_message }}</strong></p>
{% else %}
<h2>Thank you for your payment! You invoice number is {{invoice}}</h2>
{% endif %}

{% load carton_tags %}
{% get_cart as cart %}
<h2>Your Order Summary</h2>
<hr color="#000000" size="5" align="center" style="border: 1px solid black" width="100%">

<!-- writes out the form tag automatically -->


<table style="text-align:left;">
	<tr style="font-family:Museo;font-size:20px;text-align: left;font-weight:bold">
		<th style="width:350px;text-align:left">Product</th>
		<th style="width:300px;text-align:center">Quantity</th>
		<th style="width:350px;text-align:right">Total Price</th>
	</tr>
	{% for item in cart.items %}
	<tr style="padding-top:5px; padding-bottom:5px; padding-left:50px; padding-right:50px; text-align:left">
		<td style="width:350px;text-align:left"><a href = "{% url 'creamUsers:resultNoAnswer' item.product.id %}">Skin Product {{forloop.counter}}</a>{{item.product.name}}</td>
		<td style="width:300px;text-align:center">{{ item.quantity }}</td>
		<td style="width:350px;text-align:right;padding-right:25px;"> ${{ item.subtotal }}</td>
	</tr>
	{% endfor %}
</table>
<br/><br/>
<div class="col-md-5" style="text-align:left;font-family:Museo">
	<p><strong style="color:white;background:black;width:200px;padding-top:3px;padding-bottom:3px;padding-left:10px;padding-right:10px;font-size:18px">Your total:</strong>
	<strong style="padding-left:10px;"> ${{cart.total}} </strong></p>
</div>
<br/><br/></br>
<div style="text-align:center">
	<p><a id="continue" style="padding: 5px; text-align:center; border: 1px solid black; border-radius:5px;" href = "{% url 'creamUsers:clearcart' %}" > Continue to Explore </a></p>
</div>
</div>
</span>

{% endblock %}