
<!DOCTYPE html>
<html lang="en">
{% extends "baseNavFooter.html" %}

{% block content %}
{% load staticfiles %}
{% load bootstrap3 %}
	<script>
	function answer1() {
		if(typeof(Storage) !== "undefined") {
			if (sessionStorage.answer1) {
				sessionStorage.clickcount = Number(sessionStorage.clickcount)+1;
			} else {
				sessionStorage.clickcount = 1;
			}
			document.getElementById("result").innerHTML = "You have clicked the button " + sessionStorage.clickcount + " time(s) in this session.";
		} else {
			document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
		}
	}
	</script>

	<script language="javascript" type="text/javascript">
	var tot=3;       
	function expandDiv(divID)
	{
		var el = document.getElementById(divID);
		el.style.display="block";
		el.setAttribute("style:display","block");
		
		if(el.childNodes.length<=1)
		{
			var nav = document.createElement("div");
			nav.setAttribute("id","navigation");
			
			var up = document.createElement("a");
			up.setAttribute("id","top");
			up.setAttribute("href","#");
			up.innerHTML = "top";
			
			var back = document.createElement("input");
			back.setAttribute("type","button");
			back.setAttribute("id","back");
			back.setAttribute("onclick","moveBack('"+divID+"')");
			back.setAttribute("value","<-Previous Question");
			
			var next = document.createElement("input");
			next.setAttribute("type","button");
			next.setAttribute("id","next");
			next.setAttribute("onclick","moveNext('"+divID+"')");
			next.setAttribute("value","Next Question ->");
			
			nav.appendChild(up);
			nav.appendChild(back);
			nav.appendChild(next);
			
			el.appendChild(nav);
		}
	}
	
	function moveBack(id)
	{
		var str = id;
		var divno = parseInt(str.split("_")[1]);
		if(divno-1<=0)
		{
			divno=3;
		}
		else 
		{
		divno--;
		}
		
		for(var j=1;j<=3;j++)
		{
			var div="d_"+(j);
			document.getElementById(div).style.display="none";
		}
		expandDiv("d_"+divno);
	}
	
	function moveNext(id)
	{
		var str = id;
		var divno = parseInt(str.split("_")[1]);
		
		if(parseInt(divno+1) > tot+1)
		{
			divno=1;
		}
		else 
		{    
			divno++;
		}
		
		for(var j=1;j<=3;j++)
		{
			var div="d_"+(j);
			document.getElementById(div).style.display="none";
		}
		expandDiv("d_"+divno);
	}
</script>
<style>
	h4.h4link{
		font-size:20px;
		color:black;
		background:white;	
		width:300px;
		margin-left:auto;
		margin-right:auto;
		padding:5px; 
	}
	h4.h4link:hover{
		background:black;
		color:white;
	}
	.resing{
		font-size:15px;
		padding-5px;
		border:1px solid black;
		border-radius:8px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		padding-top:5px;
		padding-bottom:5px;
	}
</style>

<div class="page-row">

<title>Questionairre Results</title>
<nav class="navbar transparent navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid col-md-8" style="float:inherit;">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" style="" href="/"></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li class="dropdown" href="plan.html"><a class="dropdown-toggle" data-toggle="dropdown" href="plan.html">Ingredients<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/plan#GroupA">Cream Base</a></li>
					<li><a href="/plan#GroupB">Main Components</a></li>
					<li><a href="/plan#GroupC">Finishing Touches</a></li>
				</ul>
			</li>
			<li class="active"><a href="/build/">Build</a></li>
			<li><a href="/about/">About Us</a></li>
			<li><a href="/contact/">Contact</a></li>
			{% if user.is_authenticated %} 
			<li id="menu-gap"><a href="/users/"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
			<li id="menu-gap"><a href="/logout/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
			{% else %} 
			<li id="menu-gap"><a href="/login/"><span class="glyphicon glyphicon-home"></span> Login</a></li>
			{% endif %} 
			<li><a href="{% url 'creamUsers:cartdetail' %}"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
		  </ul>
		</div>
	</div>
</nav>

	<div id="buildtitle">
		<h2><center/><strong/></h2>
	</div>
	<h2 class="question">Based on the info you've provided, this is what we recommend...</h2><br/><br/>	
	<div id="results" style="width:30%; margin-left: auto; margin-right: auto; text-align:center; border: 3px solid black; padding-bottom:30px; border-radius: 8px;">
		{% if answer %}
			<h3 style="padding:3px;color:white;background:black;border-radius:8px;width:350px;margin-left:auto;margin-right:auto;">What you've told us:</h3><br/><p style="font-family:Museo; font-size: 17px">You are {{answer.question3}} years old, and are {{answer.question4}}. <br/>You also have {{answer.question1}} skin, and apply your skin products {{answer.question2}}.</p>
		{% endif %}
	</div>
	<div id="suggestions" style="width:30%; margin-left: auto; margin-right: auto; text-align:center;border-radius: 8px; border-bottom: 3px solid black; border-left: 3px solid black; border-right: 3px solid black; text-align:center; padding-bottom:50px;">
		<br/><h3 style="padding:3px;color:white;background:black;border-radius:8px;width:350px;margin-left:auto;margin-right:auto;">What we recommend:</h3>
		<form action=""><br/>
			<p style="font-family:Museo; font-size: 18px">1. Your Cream Base:</p> <p class="resing" style="width:70px;">{{ingredient1.ingreName}}</p>
			<p style="font-weight:300;">{{ingredient1.description}}</p>
		</form>
		<form action=""><br/>
			<p style="font-family:Museo; font-size: 18px">2. Your Penetration Agent:</p> <p class="resing" style="width:170px;">{{ingredient2.ingreName}}</p>
			<p style="font-weight:300;">{{ingredient2.description}}</p>
		</form>
		<form action=""><br/>
			<p style="font-family:Museo; font-size: 18px">3. Your Main Element:</p> <p class="resing" style="width:100px;">{{product.ingredient3.ingreName}}</p>
			<p style="font-weight:300;">{{product.ingredient3.description}}</p>
			<br/><br/>
		</form>
		<div id="buttons">
		<a href = "{% url 'creamUsers:addproduct' product.id%}"><h4 class="h4link" style="border:1px solid black; font-family:Museo; font-size: 20px">Yes, my skin wants this!</h4></a>
		<a href = "{% url 'creamUsers:editProd' product.id %}"><h4 class="h4link" style="border:1px solid black; font-family:Museo; font-size: 20px">I'd like to change a few things.</h4></a>
		</div>
	</div><br/><br/>
</div>

{% endblock %}